[Unit]
Description=PiDisplay
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/sudo ./var/www/html/pidisplay/c/LedMatrix -o animation
Restart=on-abort

[Install]
WantedBy=multi-user.target